:root {
    --progressbar-color1: #00ff6e;
    --progressbar-color2: #00672c;
}

body{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #D4D1D1;
}
#header{
    background-image: url(assets/close-up-businessman-s-hand-working-laptop.jpg);
    background-size: cover;
    max-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}
#saldacao {
    display: flex;
    flex-direction: column;
    
}
.dv{
 font-weight: 500;
 font-style: oblique;
 font-family:'Times New Roman', Times, serif;
}

#dv1{
    font-size: 54pt;
}

#dv2{
    padding-left: 60px;
    font-size: 25pt;
}

#dv3{
    font-size: 35pt;
}

#part1 {
    background-color: #D4D1D1;
    max-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1;
    margin-bottom: 5rem;
}
#part1-txt{
    max-width: 400px;
}

#part1-txt img{
    width: 50px;
}
#part1-img img{
    max-width: 550px;
    margin-right: 5rem;
}
#part2 {
    background-color: #D4D1D1;
    max-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1;
    margin-bottom: 5rem;
}
#part2-txt{
}
#part2-img img{
    max-width: 400px;
    margin-right: 5rem;
}

#part2-sobre{
    display: flex;
    flex-wrap: wrap;
}

#part2-sobre div{
    margin-right: 50px;
}

.skills {
    color: var(--color-background);
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 2rem;
}

.skillprog {
    background-color: #D4D1D1;
    width: 250px;
    height: 20px;
    text-align: center;
    align-content: center;
    display: flex;
    border: solid  1px #000;
    border-radius: 20px;
    color: #000000;
    font-weight: 500;
    box-shadow: inset 0 0 7px;
}

#html::before {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 5px;
    content: "60%";
    width: 60%;
    background: linear-gradient(to right, var(--progressbar-color1), var(--progressbar-color2));
    border-radius: 20px;
}

#css::before {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 5px;
    content: "80%";
    width: 80%;
    background: linear-gradient(to right, var(--progressbar-color1), var(--progressbar-color2));
    border-radius: 20px;
}

#javascript::before {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 5px;
    content: "5%";
    width: 5%;
    background: linear-gradient(to right, var(--progressbar-color1), var(--progressbar-color2));
    border-radius: 20px;
}

#github::before {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 5px;
    content: "75%";
    width: 75%;
    background: linear-gradient(to right, var(--progressbar-color1), var(--progressbar-color2));
    border-radius: 20px;
}


#part3 {
    background: url(assets/2147808032.jpg);
    max-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1;
    padding: 3rem;
    color: #fff;
}

#part3 h2{
    color: #fff;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.667);
}
#project-container {
    background-color: #615e5ebf;
    width: 95vw;
    max-width: 800px;
    border: solid 1px #fff;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(10px);
}

#projectdisplay {
    height: 350px;
    width: 700px;
    overflow: hidden;
    scroll-behavior: smooth;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    width: 700px;
}
.project h3{
    line-height: .3pt;
}

.project a{
    color: #fff;
}

.project img{
    max-width: 340px;
    border-radius: 10px;
}

nav ul{
    display: flex;
}

nav li{
    list-style: none;
    background: radial-gradient(var(--progressbar-color1), var(--progressbar-color2));
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: solid 1px #000;
    border-radius: 20px;
    margin: 5px;
    
}

nav li:hover{
    background: radial-gradient(var(--progressbar-color2), var(--progressbar-color1));
}

nav a{
    text-decoration: none;
    color: #000;
}

#rodape {
    background-color: #615e5e;
    height: 50px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 2rem;
}


@media screen and (max-width: 800px) {

    #header{
        height: 600px;
        background-size: cover;
        display: flex;
        align-items: center;
        
    }

    #saudacao {
        padding: 0;
    }

    #part1{
        flex-direction: column;
        justify-items: center;
    }

    #part1-img img{
        top: 700px;
        width: 70vw;
    }

    #part2-img{
        display: none;
    }
    
    #projectdisplay {
        width: 350px;
    }

    .project {
        width: 350px;
    }
}